<section id="about-sc" class="non_print_area">
  <div class="container">
    <div class="about-cnt">
      <form action="" class="cv-form" id="cv-form">
        <div class="cv-form-blk about">
          <div class="cv-form-row-title">
            <h3>about section</h3>
          </div>
          <div class="cv-form-row cv-form-row-about">
            <div class="cols-3">
              <div class="form-elem">
                <label for="" class="form-label">First Name</label>
                <input
                  name="firstname"
                  type="text"
                  class="form-control firstname"
                  id=""
                  onkeyup="generateCV()"
                  placeholder="e.g. John"
                  value="<%= resume.firstname !== '' ? resume.firstname : '' %>"
                />
                <span class="form-text"></span>
              </div>
              <div class="form-elem">
                <label for="" class="form-label"
                  >Middle Name <span class="opt-text">(optional)</span></label
                >
                <input
                  name="middlename"
                  type="text"
                  class="form-control middlename"
                  id=""
                  onkeyup="generateCV()"
                  placeholder="e.g. Herbert"
                  value="<%= resume.middlename !== '' ? resume.middlename : '' %>"
                />
                <span class="form-text"></span>
              </div>
              <div class="form-elem">
                <label for="" class="form-label">Last Name</label>
                <input
                  name="lastname"
                  type="text"
                  class="form-control lastname"
                  id=""
                  onkeyup="generateCV()"
                  placeholder="e.g. Doe"
                  value="<%= resume.lastname !== '' ? resume.lastname : '' %>"
                />
                <span class="form-text"></span>
              </div>
            </div>

            <div class="cols-3">
              <div class="form-elem">
                <label for="" class="form-label">Your Image</label>
                <input
                  name="image"
                  type="file"
                  class="form-control image"
                  id=""
                  accept="image/*"
                  onchange="previewImage()"
                  value="<%=fileUrl%>"
                />
              </div>
              <div class="form-elem">
                <label for="" class="form-label">Designation</label>
                <input
                  name="designation"
                  type="text"
                  class="form-control designation"
                  id=""
                  onkeyup="generateCV()"
                  placeholder="e.g. Sr.Data-scientist"
                  value="<%= resume.designation !== '' ? resume.designation : '' %>"
                />
                <!-- <button id="cv_maker">make an AI summary</button> -->
                <span class="form-text"></span>
              </div>
              <div class="form-elem">
                <label for="" class="form-label">Address</label>
                <input
                  name="address"
                  type="text"
                  class="form-control address"
                  id=""
                  onkeyup="generateCV()"
                  placeholder="e.g. Lake Street-23"
                  value="<%= resume.address !== '' ? resume.address : '' %>"
                />
                <span class="form-text"></span>
              </div>
            </div>

            <div class="cols-3">
              <div class="form-elem">
                <label for="" class="form-label">Email</label>
                <input
                  name="email"
                  type="text"
                  class="form-control email"
                  id=""
                  onkeyup="generateCV()"
                  placeholder="e.g. johndoe@gmail.com"
                  value="<%= resume.email !== '' ? resume.email : '' %>"
                />
                <span class="form-text"></span>
              </div>

              <div class="form-elem summary">
                <label for="" class="form-label">Summary</label>
                <textarea
                  type="textarea"
                  name="summary"
                  class="form-control summary_input"
                  onkeyup="generateCV()"
                  placeholder="e.g. As a data scientist proficient in Python and having a Bachelor's degree from Minsuta, I have worked at Google and contributed to several successful project."
                >
<%= resume.summary !== '' ? resume.summary : '' %></textarea
                >
                <input
                  name="summary-btn"
                  type="submit"
                  class="form-control"
                  id="summary-btn"
                  onkeyup="generateCV()"
                  value="Make it with AI"
                />
                <span class="form-text"></span>
              </div>

              <div class="form-elem">
                <label for="" class="form-label">Phone No:</label>
                <input
                  name="phoneno"
                  type="text"
                  class="form-control phoneno"
                  id=""
                  onkeyup="generateCV()"
                  value="<%= resume.phoneno !== '' ? resume.phoneno : '' %>"
                  placeholder="e.g. 456-768-798, 567.654.002"
                />
                <span class="form-text"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="cv-form-blk experience">
          <div class="cv-form-row-title">
            <h3>experience</h3>
          </div>

          <div class="row-separator repeater">
            <div class="repeater" data-repeater-list="group-b">
              <% if (resume.experiences.length >0) { %> <% for( let index = 0;
              index < resume.experiences.length; index++ ) { %>

              <div data-repeater-item>
                <div class="cv-form-row cv-form-row-experience">
                  <div class="cols-3">
                    <div class="form-elem">
                      <label for="" class="form-label">Title</label>
                      <input
                        name="exp_title"
                        type="text"
                        class="form-control exp_title"
                        id=""
                        onkeyup="generateCV()"
                        value="<%= resume.experiences[index].exp_title !== '' ? resume.experiences[index].exp_title  : '' %>"
                      />
                      <span class="form-text"></span>
                    </div>
                    <div class="form-elem">
                      <label for="" class="form-label"
                        >Company / Organization</label
                      >
                      <input
                        name="exp_organization"
                        type="text"
                        class="form-control exp_organization"
                        id=""
                        onkeyup="generateCV()"
                        value="<%= resume.experiences[index].exp_organization !== '' ? resume.experiences[index].exp_organization  : '' %>"
                      />
                      <span class="form-text"></span>
                    </div>
                    <div class="form-elem">
                      <label for="" class="form-label">Location</label>
                      <input
                        name="exp_location"
                        type="text"
                        class="form-control exp_location"
                        id=""
                        onkeyup="generateCV()"
                        value="<%= resume.experiences[index].exp_location !== '' ? resume.experiences[index].exp_location  : '' %>"
                      />
                      <span class="form-text"></span>
                    </div>
                  </div>

                  <div class="cols-3">
                    <div class="form-elem">
                      <label for="" class="form-label">Start Date</label>
                      <input
                        name="exp_start_date"
                        type="date"
                        class="form-control exp_start_date"
                        id=""
                        onkeyup="generateCV()"
                        value="<%= resume.experiences[index].exp_start_date !== '' ? resume.experiences[index].exp_start_date  : '' %>"
                      />
                      <span class="form-text"></span>
                    </div>
                    <div class="form-elem">
                      <label for="" class="form-label">End Date</label>
                      <input
                        name="exp_end_date"
                        type="date"
                        class="form-control exp_end_date"
                        id=""
                        onkeyup="generateCV()"
                        value="<%= resume.experiences[index].exp_end_date !== '' ? resume.experiences[index].exp_end_date  : '' %>"
                      />
                      <span class="form-text"></span>
                    </div>
                    <div class="form-elem">
                      <label for="" class="form-label">Description</label>
                      <input
                        name="exp_description"
                        type="text"
                        class="form-control exp_description"
                        id=""
                        onkeyup="generateCV()"
                        value="<%= resume.experiences[index].exp_description !== '' ? resume.experiences[index].exp_description  : '' %>"
                      />
                      <span class="form-text"></span>
                    </div>
                  </div>

                  <button
                    data-repeater-delete
                    type="button"
                    class="repeater-remove-btn"
                  >
                    -
                  </button>
                </div>
              </div>

              <% } %> <% } %>
            </div>
            <button
              type="button"
              data-repeater-create
              value="Add"
              class="repeater-add-btn"
            >
              +
            </button>
          </div>
        </div>

        <div class="cv-form-blk education">
          <div class="cv-form-row-title">
            <h3>education</h3>
          </div>

          <div class="row-separator repeater">
            <div class="repeater" data-repeater-list="group-c">
              <% if (resume.educations.length>0) { %> <% for( let index = 0;
              index < resume.educations.length; index++ ) { %>
              <div data-repeater-item>
                <div class="cv-form-row cv-form-row-experience">
                  <div class="cols-3">
                    <div class="form-elem">
                      <label for="" class="form-label">School</label>
                      <input
                        name="edu_school"
                        type="text"
                        class="form-control edu_school"
                        id=""
                        onkeyup="generateCV()"
                        value="<%= resume.educations[index].edu_school !== '' ? resume.educations[index].edu_school  : '' %>"
                      />
                      <span class="form-text"></span>
                    </div>
                    <div class="form-elem">
                      <label for="" class="form-label">Degree</label>
                      <input
                        name="edu_degree"
                        type="text"
                        class="form-control edu_degree"
                        id=""
                        onkeyup="generateCV()"
                        value="<%= resume.educations[index].edu_degree !== '' ? resume.educations[index].edu_degree  : '' %>"
                      />
                      <span class="form-text"></span>
                    </div>
                    <div class="form-elem">
                      <label for="" class="form-label">City</label>
                      <input
                        name="edu_city"
                        type="text"
                        class="form-control edu_city"
                        id=""
                        onkeyup="generateCV()"
                        value="<%= resume.educations[index].edu_city !== '' ? resume.educations[index].edu_city  : '' %>"
                      />
                      <span class="form-text"></span>
                    </div>
                  </div>

                  <div class="cols-3">
                    <div class="form-elem">
                      <label for="" class="form-label">Start Date</label>
                      <input
                        name="edu_start_date"
                        type="date"
                        class="form-control edu_start_date"
                        id=""
                        onkeyup="generateCV()"
                        value="<%= resume.educations[index].edu_start_date !== '' ? resume.educations[index].edu_start_date  : '' %>"
                      />
                      <span class="form-text"></span>
                    </div>
                    <div class="form-elem">
                      <label for="" class="form-label">End Date</label>
                      <input
                        name="edu_graduation_date"
                        type="date"
                        class="form-control edu_graduation_date"
                        id=""
                        onkeyup="generateCV()"
                        value="<%= resume.educations[index].edu_graduation_date !== '' ? resume.educations[index].edu_graduation_date  : '' %>"
                      />
                      <span class="form-text"></span>
                    </div>
                    <div class="form-elem">
                      <label for="" class="form-label">Description</label>
                      <input
                        name="edu_description"
                        type="text"
                        class="form-control edu_description"
                        id=""
                        onkeyup="generateCV()"
                        value="<%= resume.educations[index].edu_description !== '' ? resume.educations[index].edu_description  : '' %>"
                      />
                      <span class="form-text"></span>
                    </div>
                  </div>

                  <button
                    data-repeater-delete
                    type="button"
                    class="repeater-remove-btn"
                  >
                    -
                  </button>
                </div>
              </div>
              <% } %> <% } %>
            </div>
            <button
              type="button"
              data-repeater-create
              value="Add"
              class="repeater-add-btn"
            >
              +
            </button>
          </div>
        </div>

        <div class="cv-form-blk skills">
          <div class="cv-form-row-title">
            <h3>skills</h3>
          </div>

          <div class="row-separator repeater">
            <div class="repeater" data-repeater-list="group-e">
              <% if (resume.skills.length>0) { %> <% for( let index = 0; index <
              resume.skills.length; index++ ) { %>
              <div data-repeater-item>
                <div class="cv-form-row cv-form-row-skills">
                  <div class="form-elem">
                    <label for="" class="form-label">Skill</label>
                    <input
                      name="skill"
                      type="text"
                      class="form-control skill"
                      id=""
                      onkeyup="generateCV()"
                      value="<%= resume.skills[index].skill !== '' ? resume.skills[index].skill  : '' %>"
                    />
                    <span class="form-text"></span>
                  </div>

                  <button
                    data-repeater-delete
                    type="button"
                    class="repeater-remove-btn"
                  >
                    -
                  </button>
                </div>
              </div>
              <% } %> <% } %>
            </div>
            <button
              type="button"
              data-repeater-create
              value="Add"
              class="repeater-add-btn"
            >
              +
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
